In [2]:
import pandas as pd
import numpy as np

Criando a base de dados

In [5]:
data_exem = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})

data_exem

  key1 key2     data1     data2
0    a  one  1.130844 -0.323595
1    a  two  1.019955  2.357514
2    b  one  0.419374 -1.893626
3    b  two -0.236553  0.537435
4    a  one  1.740995  1.097478

funções de agregação
split, apply, combine

In [13]:
data_exem['data1'].groupby(data_exem['key2']).mean()

data_exem[['data1','data2']].groupby([data_exem['key1'], data_exem['key2']]).mean()

              data1     data2
key1 key2
a    one   1.435919  0.386941
     two   1.019955  2.357514
b    one   0.419374 -1.893626
     two  -0.236553  0.537435